.dib-container {
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
}

.dib-left {
    width: 70%;
    padding-right: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dib-creator {
    font-size: 0.9rem;
}

.dib-title {
    font-size: 2rem;
}

.dib-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}